@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --bg: #edf1f5;
  --textColor: #5c728a;
  --blue-default: #1faafa;
} */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  max-width: 100vw;
  overflow-x: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

@layer components {
  .btn {
    @apply hover:no-underline bg-blue-accent tracking-wider w-full text-center font-bold cursor-pointer px-4 py-2 rounded-md transition-colors block;
  }
}
